.App {
    
  background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #243B55, #141E30); 
}
