.state_name{
    text-align: justify;
    padding: 4.0rem;
    

}
/* .state_image{
    background-image: url('G:\VS CODE\e-ticket\Client\public\uttar-pradesh.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
} */
#photo{
    opacity: 70%;
}